{% extends 'base.html' %}

{% block content %}
<a href="{{ book.base_url }}/browse/book/{{ book.application_id }}" target="_blank" class="more_about" title="about this book">
  <img src="{{ book.base_url }}/get/cover/{{ book.application_id }}.jpg" /></a>
<h2>
  <a href="{{ book.base_url }}/browse/book/{{ book.application_id }}" target="_blank" class="more_about" title="about this book">{{ book.title }}</a>
  <br />
  {{ book.authors }}
</h2>
<span class="download">Download: {{ book.formats }} <a href="http://127.0.0.1:56665/?urls={{ book.metadata_urls }}" title="import book directly to calibre" target="import"></span><span class="lodestone"><img src="../images/lodestone.png" title="import book directly to calibre"/></a></span>
{% endblock %}
