<html>
  <head>
    <title>{{app_name}}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="stylesheet" type="text/css" href="static/jquery-ui-1.10.3.custom.min.css" />
  </head>
  <body>
    <div id="header">
      <div id="toolbar">
        <input id="prev_page" type="button" value="&lt;&lt;&lt;" class="button not-active" />
        <input id="next_page" type="button" value="&gt;&gt;&gt;" class="button active" />
        <input id="page-msg" type="button" class="button active" value="" />
      </div>
      <div id="searchbar">
        <input id="authors" placeholder="authors" />
        <input id="titles" placeholder="titles" />
        <input id="search_all" placeholder="search all metadata" />
        <input id="search" type="button" value="SEARCH" class="button active" />
      </div>
    </div>
    <div id="content"></div>
    <div class="modal"></div>
  </body>

  <script type="text/x-template" id="string-parts-tmpl">
    <a class="author" data-authors="<%- author_s %>" href="#" title="show only books by <%- author_s %>"><%- author %></a>
  </script>

  <script type="text/x-template" id="book-parts-tmpl">
    <a href="<%= base_url %>/get/<%= format %>/<%= book.id %>.<%= format %>"><%= format.toUpperCase() %></a>
  </script>

  <script type="text/x-template" id="book-content-tmpl">
    <div class="cover">
      <a href="<%= base_url %>/browse/book/<%= book.id %>" target="_blank" class="more_about" title="about this book"><img src="<%= base_url %>/get/cover/<%= book.id %>.jpg" /></a>
      <h2><a href="<%= base_url %>/browse/book/<%= book.id %>" target="_blank" class="more_about" title="about this book"><%= book.title %></a><br /><%= authors %></h2>
      <span class="download">Metadata: <a href="<%= base_url %>/get/opf/<%= book.id %><%= book_title_stripped %>.opf" title="import metadata directly to calibre">.opf</a><br />Download: <%= formats %></span>
    </div>
  </script>

  <script type="application/javascript" src="http://underscorejs.org/underscore.js"></script>
  <script type="application/javascript" src="static/jquery-1.10.2.min.js"></script>
  <script type="application/javascript" src="static/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="application/javascript" src="static/libraries.js"></script>
</html>
