<html>
  <head>
    <title>{{app_name}}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="stylesheet" type="text/css" href="static/jquery-ui-1.10.3.custom.min.css" />
  </head>
  <body>
    <div id="header">
      <div id="toolbar">
        <input id="prev_page" type="button" value="&lt;&lt;&lt;" class="button" />
        <input id="next_page" type="button" value="&gt;&gt;&gt;" class="button active" />
        <input id="page-msg" type="button" class="button active" value="" />
      </div>
      <div id="searchbar">
        <input id="authors" placeholder="authors" />
        <input id="titles" placeholder="titles" />
        <input id="search_all" placeholder="search all metadata" />
        <input id="search" type="button" value="SEARCH" class="button active" />
      </div>
    </div>
    <div id="content"></div>
    <div class="modal"></div>
  </body>
  <script type="application/javascript" src="static/jquery-1.10.2.min.js"></script>
  <script type="application/javascript" src="static/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="application/javascript" src="static/libraries.js"></script>
</html>
