<script>
 import { onMount } from 'svelte';
 import { lasthash } from './store.js';
 import { restapi } from './store.js';
 import { createEventDispatcher } from 'svelte';
 import { download_svg } from './svgs.js';

 export let downthemall;
 export let navbarLinks;

 let lochash = [];

 const dispatch = createEventDispatcher();
 const unsubscribe = lasthash.subscribe(value => {
     lochash = JSON.parse(value);
 });

 function onKeyDown(e) {
     if (e.key === "Escape") {
         toggle(e);
     }
 }

 function toggle(e) {
     downthemall = false;
     lochash[0] = true;
     lasthash.set(JSON.stringify(lochash))
     window.location.hash = lochash[1];
 }
</script>

<style>
 .modal {
     @apply h-full w-full fixed z-50 overflow-auto flex;
     background-color: rgba(0,0,0,0.7);
 }
</style>

<svelte:window on:keydown={onKeyDown} />
<div on:click|self={toggle} class="modal monocle:px-0 phone:px-0">
    <div class="pt-6 w-full max-w-4xl m-auto flex-col flex monocle:text-xs phone:text-xs">
        <div class="inset-x-0.top-0 p-6 monocle:px-4 phone:px-4 bg-motw-red text-white font-extrabold text-xl monocle:text-sm phone:text-sm">
            <span title="[ESC]" on:click={toggle} class="cursor-pointer monocle:text-2xl phone:text-2xl monocle:pr-2 phone:pr-2 float-right font-extrabold text-white opacity-50">&nbsp;x</span>
            Download {navbarLinks.total} books for search query: "{navbarLinks.searchStatus.split("(")[1].slice(0, -1)}"
        </div>
        <div class="bg-white phablet:p-6 font-normal pr-4">
            <p class="pb-3">Below are the instructions on how to download up to 1000 books at once from the Memory of the World Library. If your search results in more than a 1000 books and you still want to download them all at once, please get in touch with us. We see that as the gesture of <a target="_blank" class="hover:underline text-motw-blue" href="https://custodians.online/ubu">"mirroring each other in solidarity"</a> and, in that case, we are happy to arrange something more convenient for you and something more ecological in our networked environment.</p>

            <p>If you are using <span class="italic font-extrabold">wget</span> please download <a target="_blank" class="hover:underline text-motw-blue" href="{$restapi}{lochash[1].slice(2)}?dl=txt">this file</a> in its own directory and once it downloads run in the terminal:</p>


            <p class="p-2 bg-green-800 text-yellow-300 font-extrabold pr-4">wget -cxnH -i file_you_just_downloaded.txt</p>

            <p class="pt-3">If you are using <span class="italic font-extrabold">aria2c</span> please download <a target="_blank" class="hover:underline text-motw-blue" href="{$restapi}{lochash[1].slice(2)}?dl=meta4">this file</a> in its own directory and once it downloads run in the terminal:</p>

            <p class="p-2 bg-green-800 text-yellow-300 font-extrabold pr-4">aria2c -c file_you_just_downloaded.meta4</p>

            <p class="pt-5">After <span class="italic font-extrabold">wget</span> or <span class="italic font-extrabold">aria2c</span> finishes, you should find in the root of the directory <span class="italic font-extrabold">BROWSE_LIBRARY.html</span>. If you open it in your web browser, it allows you to browse and search the downloaded catalog the same way you do it here in Memory of the World Library. If you copy that directory to a USB disk, or upload it to any simple web hosting, it should work the same. Try out sharing it in <a target="_blank" class="hover:underline text-motw-blue" href="https://beakerbrowser.com/">Beaker Browser</a>. Also, the whole directory could be easily imported to <a target="_blank" class="hover:underline text-motw-blue" href="https://calibre-ebook.com/">Calibre</a> and if you continue to add books you care about, maintain the metadata, we might welcome you as one of the amateur librarians who share their catalogs here on Memory of the World.</p>
            <p class="pt-5 italic text-sm">We understand many people are afraid of typing anything in the terminal and that only a few know how to use command-line tools. Please learn some of it. We need more people familiar with command-line tools. If you don't know where to start, this is what we recommend: <a target="_blank" class="hover:underline text-motw-blue" href="https://mega.nz/folder/4dhTAIjb#RSbkjLu_1qZMHH_i5jnV0A">Command line crash course by Zed Shaw</a></p>
        </div>
        <div class="inset-x-0.bottom-0 items-baseline bg-motw-red text-white font-bold p-6 monocle:px-2 phone:px-2 flex justify-between items-center">
            <div class="text-motw-red text-center select-none">.</div>
        </div>
    </div>
</div>
