<script>
 export let navbarLinks;
 export let downthemall;
 export let mock;

 let tooltip = "";
 let dlcursor = false;

 function downloadSearch() {
     if (!mock && navbarLinks.self.href.startsWith("search/")) {
         downthemall = true;
     }
 }

 function getTooltip() {
     if ((!mock && navbarLinks.hasOwnProperty("last") ? navbarLinks.last.hasOwnProperty("href"): false) && navbarLinks.self.href.startsWith("search/")) {
         tooltip = `download all ${navbarLinks.total} books at once`;
         dlcursor = true;
     } else {
         tooltip = "";
         dlcursor = false;
     }
 }
</script>
<style>
 .dlcursor {
     cursor: pointer;
 }
</style>

<div class="flex justify-between bg-white sticky top-0 w-full z-40 py-2 items-baseline items-stretch text-base font-bold monocle:text-xs phone:text-xs">
    {#if !!(Object.keys(navbarLinks).indexOf("prev")+1) }
        <a href="#{navbarLinks.prev.href}" class="hover:underline items-start text-motw-blue">&lt;&lt;&nbsp;prev&nbsp;&nbsp&nbsp;&nbsp</a>
    {:else}
        <span class="text-white cursor-default select-none">&lt;&lt;prev&nbsp;&nbsp&nbsp;&nbsp</span>
    {/if}
    <span on:click={downloadSearch} on:mouseenter={getTooltip} title={tooltip} class:dlcursor class="text-center text-black">{navbarLinks.searchStatus}</span>
    {#if !!(Object.keys(navbarLinks).indexOf("next")+1) }
        <a href="#{navbarLinks.next.href}" class="hover:underline text-motw-blue">&nbsp;&nbsp&nbsp;&nbsp;next&nbsp;&gt;&gt</a>
    {:else}
        <span class="text-white cursor-default select-nonE">&nbsp;&nbsp&nbsp;&nbsp;next&nbsp;&gt;&gt</span>
    {/if}
</div>
