body {
    background-image: url("favicon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
}

.version {
    position: fixed;
    bottom: 0;
    right:0;
    color: red;
    font-weight: bold;
}