/* -- General */

body {
    background: rgb(255, 255, 255);
    font-family: 'BitstreamVeraSansMono', Consolas, monospace;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

img {
    position: absolute;
    background: url('/images/loading.gif') no repeat;
    background-position: top center;
    background-size: cover;
}

h2 {
    font: bold 18px/24px 'BitstreamVeraSansMono', Consolas, monospace;
    //font: bold 16px/22px Helvetica, Sans-Serif; 
    color: white; 
    position: absolute; 
    top: -6px; 
    left: 0; 
    width: 100%; 
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    padding: 2px; 
}

h2 span {
    //font: bold 12px/16px Helvetica, Sans-Serif; 
    font: bold 18px/24px 'BitstreamVeraSansMono', Consolas, monospace;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-toggle {
    background-color: #C9302C;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

/* toolbar elements for tablet */

@media (min-width: 768px) {

    #text {
        width: 290px;
    }

    #search {
        width: 120px;
    }

}

/* toolbar elements for desktop */

@media (min-width: 992px) {

    #text {
        width: 360px;
    }

    #property {
        width: 195px;
        max-width: 195px;
    }

    #librarian {
        width: 195px;
        max-width: 195px;
    }

    #search {
        width: 120px;
    }

}



/* -- Book grid view */

.cover {
    position: relative;
    width: 241px;
    height: 360px;
    overflow: hidden;
    border-right: 2px solid rgb(224, 224, 224);
    border-bottom: 4px solid rgb(224, 224, 224);
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
}

.cover .more_about img {
    min-height: 359px;
    max-height: 100%;
}

.download {
    position:absolute;
    bottom:1px;
    left: 0;
    //font: bold 14px/20px Helvetica, Sans-Serif;
    font: bold 16px/22px 'BitstreamVeraSansMono', Consolas, monospace;
    color:white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
}

.lodestone {
    position:absolute;
    bottom:33px;
    right: 33px;
}

.lodestone_modal {
    position: relative;
    float: right;
}

.more_about {
    text-decoration: none;
}

.tooltip {
    //font: bold 12px/16px Helvetica, Sans-Serif; 
    font: bold 14px/18px 'BitstreamVeraSansMono', Consolas, monospace;
}

.attr {
    color: #ffffff;
    background-color: #000000;
}

#authorz {
    //font: bold 12px/16px Helvetica, Sans-Serif; 
    font: bold 14px/18px 'BitstreamVeraSansMono', Consolas, monospace;
}

/* -- footer */

#load-more {
    text-align: center;
    margin: 7px 0px 7px 0px;
}

/* web app specific; e.g. not in portable */

.cover-highlight {
    content: " ";
    z-index: 10;
    display: none;
    position: absolute;
    width: 238px;
    height: 360px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.cover-highlight .hmsg {
    font-family: 'BitstreamVeraSansMono',Consolas,monospace;
    font-size: 1em;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 120px; left: 0; bottom: 0; right: 0;
}

.cover-highlight-this {
    content: " ";
    z-index: 10;
    display: none;
    position: absolute;
    width: 238px;
    height: 360px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
}

.cover-highlight-this .hmsg {
    font-family: 'BitstreamVeraSansMono',Consolas,monospace;
    font-size: 1em;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 120px; left: 0; bottom: 0; right: 0;
}

.cover-highlight-this .hmsg span {
    background-color: #000000;
}

/* -- Modal book window */

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(224, 224, 224, 0.4) 
    url('/images/loading.gif') 
    50% 50% 
    no-repeat;
}

.book-modal a {
    color: black;
    text-decoration: none;
}

.book-modal a:hover {
    color: red;
    text-decoration: none;
}

.book-modal a:visited {
    color: black;
    text-decoration: none;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

.cover-modal {
    position: relative;
    width: 180px;
    float: right;
    margin: 0px 15px 15px 0px;
}

.only_lib a {
    color: #ffffff;
    background-color: #000000;
}

/* -- Book permalink page */

#book-permalink {
}

#book-permalink a {
    color: grey;
}

#book-permalink .cover-permalink {
    max-width: 280px;
}

#book-permalink .property {
    margin-bottom: 10px;
}