/* -- General */

body {
    background: rgb(255, 255, 255);
    display: block;
    width: 960px;
    margin: 0px auto;
    font-family: 'BitstreamVeraSansMono', Consolas, monospace;
}

a {
    color: white;
}

img {
    position: absolute;
    background: url('/images/loading.gif') no repeat;
    background-position: top center;
    background-size: cover;
}

h2 {
    font: bold 18px/24px 'BitstreamVeraSansMono', Consolas, monospace;
    //font: bold 16px/22px Helvetica, Sans-Serif; 
    color: white; 
    position: absolute; 
    top: -6px; 
    left: 0; 
    width: 100%; 
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    padding: 2px; 
}

h2 span {
    //font: bold 12px/16px Helvetica, Sans-Serif; 
    font: bold 18px/24px 'BitstreamVeraSansMono', Consolas, monospace;
}

/* -- Book grid view */

.cover {
    position:relative;
    width:238px;
    height:360px;
    overflow:hidden;
    border-right: 2px solid rgb(224, 224, 224);
    border-bottom: 4px solid rgb(224, 224, 224);
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
}

.cover .more_about img {
    min-height: 359px;
    max-height: 100%;
}

.download {
    position:absolute;
    bottom:1px;
    left: 0;
    //font: bold 14px/20px Helvetica, Sans-Serif;
    font: bold 16px/22px 'BitstreamVeraSansMono', Consolas, monospace;
    color:white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
}

.lodestone {
    position:absolute;
    bottom:33px;
    right: 33px;
}

.lodestone_modal {
    position: relative;
    float: right;
}

/* -- Header and toolbar */

#header {
    margin-top: 7px;
    margin-bottom: 7px;
}

.button {
    cursor: pointer;
    font-family: 'BitstreamVeraSansMono',Consolas,monospace;
    font-size: 1em;
    height: 30px;
    width: 90px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
}

#home {
    width: auto;
}

#search {
    height: 28px;
    width: 100px;
    float: right;
}

#authors, #titles, #search_all, #librarian {
    width: 195px;
    font-size: 1.2em;
    padding: 3px;
    border: 1px solid #ff0000;
    background-color: #ffffff;
}

#authorz {
    //font: bold 12px/16px Helvetica, Sans-Serif; 
    font: bold 14px/18px 'BitstreamVeraSansMono', Consolas, monospace;
}

.more_about {
    text-decoration: none;
}

.tooltip {
    //font: bold 12px/16px Helvetica, Sans-Serif; 
    font: bold 14px/18px 'BitstreamVeraSansMono', Consolas, monospace;
}

.attr {
    color: #ffffff;
    background-color: #000000;
}

/* -- footer */

#load-more {
    text-align: center;
    margin-bottom: 7px;
}

#load-more input {
    width: 50px;
}

/* web app specific; e.g. not in portable */

.cover-highlight {
    content: " ";
    z-index: 10;
    display: none;
    position: absolute;
    width: 238px;
    height: 360px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.cover-highlight .hmsg {
    font-family: 'BitstreamVeraSansMono',Consolas,monospace;
    font-size: 1em;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 120px; left: 0; bottom: 0; right: 0;
}

.cover-highlight-this {
    content: " ";
    z-index: 10;
    display: none;
    position: absolute;
    width: 238px;
    height: 360px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
}

.cover-highlight-this .hmsg {
    font-family: 'BitstreamVeraSansMono',Consolas,monospace;
    font-size: 1em;
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 120px; left: 0; bottom: 0; right: 0;
}

.cover-highlight-this .hmsg span {
    background-color: #000000;
}

/* -- Modal book window */

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(224, 224, 224, 0.4) 
    url('/images/loading.gif') 
    50% 50% 
    no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

.cover-modal {
    position: relative;
    width: 180px;
    float: right;
    margin: 0px 15px 15px 0px;
}

.only_lib a {
    color: #ffffff;
    background-color: #000000;
}

.book-modal .title:link {
    text-decoration: none;
}

/* -- Book permalink page */

#book {
    margin-top: 30px;
}

#book a {
    color: red;
}

#book .cover-permalink {
    position: relative;
    width: 280px;
    height: auto;
    float: right;
    margin: 0px 15px 15px 15px;
}

/* -- Grid CSS */

@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}