#
## * MySQL configuration for tiny memory footprint
##
#[client]
#port = 3306
#socket = /var/run/mysqld/mysqld.sock
#
#[mysqld_safe]
#socket = /var/run/mysqld/mysqld.sock
#nice = 0
#
#[mysqld]
##
## * Basic Settings
##
#user = mysql
#pid-file = /var/run/mysqld/mysqld.pid
#socket = /var/run/mysqld/mysqld.sock
#port = 3306
#basedir = /usr
#datadir = /var/lib/mysql
#tmpdir = /tmp
#lc-messages-dir = /usr/share/mysql
#skip-external-locking
#skip-networking
#key_buffer = 24M
#sort_buffer_size = 4M
#read_buffer_size = 4M
##binlog_cache_size = 2M
#max_allowed_packet = 12M
#thread_stack = 128K
#thread_cache_size = 8
#
## This replaces the startup script and checks MyISAM tables if needed
## the first time they are touched
#myisam-recover = BACKUP
#
##max_connections = 200
##table_cache = 64
#table_cache = 128
#thread_cache = 256
##thread_concurrency = 10
#thread_concurrency = 4
#myisam_sort_buffer_size = 1M
#tmp_table_size = 12M
#max_heap_table_size = 12M
#wait_timeout = 200
#interactive_timeout = 300
#max_connect_errors = 10000
#
##
## * Query Cache Configuration
##
#query_cache_type = 1
#query_cache_limit = 1M
#query_cache_size = 16M
#
##
## * InnoDB
##
## InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
## Read the manual for more InnoDB related options. There are many!
#
#skip-innodb
#default-storage-engine = myisam
#skip-external-locking
#skip-slave-start
#skip-name-resolve
#
#[mysqldump]
#quick
#quote-names
#max_allowed_packet = 16M
#
#[mysql]
##no-auto-rehash # faster start of mysql but no tab completition
#
#[isamchk]
#key_buffer = 16M
##
## * IMPORTANT: Additional settings that can override those from this file!
## The files must end with '.cnf', otherwise they'll be ignored.
##
#!includedir /etc/mysql/conf.d/
