body {
    background: rgb(224, 224, 224);
}

#content {
    display:block;
    width:960px;
    margin: 0px auto;
}

img {
    position: absolute;
    background: url('images/loading.gif') no repeat;
    background-position: top center;
    background-size: cover;
}

.cover {
    position:relative;
    display:inline-block;
    width:238px;
    height:360px;
    overflow:hidden;
    border-right: 2px solid rgb(224, 224, 224);
    border-bottom: 4px solid rgb(224, 224, 224);
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
}

h2 {
    font: bold 16px/22px Helvetica, Sans-Serif; 
    color: white; 
    position: absolute; 
    top: -6px; 
    left: 0; 
    width: 100%; 
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    padding: 2px; 
}

h2 span {
    font: bold 12px/16px Helvetica, Sans-Serif; 
}

.download {
    position:absolute;
    bottom:1px;
    left: 0;
    font: bold 14px/20px Helvetica, Sans-Serif;
    color:white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
}

a {
    color:white;
}

#toolbar {
    text-align: center;
}

#toolbar #next_page {
    height:30px;
    width:90px;
    float:right;
}

#toolbar #prev_page {
    height:30px;
    width:90px;
    float:left;
}

#search {
    height:28px;
    width:90px;
    float:right;
}

#ui-widget {
    float:left;
}

#authors, #titles, #search_all {
    width:288px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(224, 224, 224, 0.4) 
                url('images/loading.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}

#authorz {
    font: bold 12px/16px Helvetica, Sans-Serif; 
}
