.cover {
    position:relative;
    display:inline-block;
    width:240px;
    overflow:hidden;
    border-right: 2px solid #fff;
    border-bottom: 4px solid #fff;
}

h2 {
    font: bold 16px/22px Helvetica, Sans-Serif; 
    color: white; 
    position: absolute; 
    top: -6px; 
    left: 0; 
    width: 100%; 
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    padding: 2px; 
}

h2 span {
    font: bold 12px/16px Helvetica, Sans-Serif; 
}

.download {
    position:absolute;
    bottom:1px;
    left: 0;
    font: bold 14px/20px Helvetica, Sans-Serif;
    color:white;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
}

a {
    color:white;
}
